.container-fluid {
  border: 1px solid rgb(113, 199, 27);
  max-width: 1300px;
}

.head {
  border: 1px solid rgb(19, 27, 144);
}

.advertencia {
  max-height: 50px;
  width: 1200px;
  border-radius: 3px;
  background-color: #f8d7da;
}

.container-fluid > div {
  border: 1px solid rgb(199, 27, 130);
  width: 100%;
}
