.container-fluid {
  max-width: 1200px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 3px;
}

.advertencia {
  max-height: 50px;
  width: 100%;
  border-radius: 3px;
  background-color: #f8d7da;
  margin-right: 23px;
  margin-left: 23px;
  padding-left: 10px;
}

.head {
  width: 100%;
  background-color: rgb(245, 240, 240);
  height: 60px;
}

.footer {
  background-color: rgb(245, 240, 240);
  height: 60px;
}

.container-custom {
  padding: 0;
  margin: 0;
}
.container-aviso {
  width: 100%;
}

button {
  height: 40px;
}

.lista {
  max-width: 270px;
  padding-top: 5px;
  border-radius: 3px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 5px;
}

.lista .form-check-input {
  transform: scale(0.6); /* Ajusta el tamaño del radio */
}
